tools-storyboard {
  display: grid;
  height: 100vh;
  place-content: center;
}

#docs {
  display: grid;
  height: 75vh;
  width: 80vw;
  grid-template-columns: 30% auto;
  column-gap: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
}

#sidebar {
  display: grid;
  padding: 10px;
  border: solid #979797 1px;
  border-radius: 15px;
  overflow: hidden;
}

#sidebar ul {
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

#sidebar li {
  list-style: none;
  padding: 5px;
  cursor: pointer;
  transition: 0.5s;
}

#sidebar li:hover {
  color: var(--section-color);
  background-color: white;
  padding-left: 15px;
}

#main {
  padding: 10px;
  border: solid #979797 1px;
  border-radius: 15px;
  overflow: auto;
}

#area {
  width: 100%;
}

#area > * {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

#area-desc {
  column-count: 2;
}

#area-code pre {
  background: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-family: monospace;
  font-size: 0.9em;
  white-space: pre-wrap;
}

.mambo-btn {
  appearance: none;
  border: solid 1px gray;
  padding: 10px;
  border-radius: 20px;
  width: 100%;
  cursor: pointer;
  transition: 0.5s;
  margin: 5px 0;
}

.mambo-btn:hover {
  background-color: var(--section-color);
  border-color: var(--section-color);
  font-stretch: expanded;
}

.transparent {
  background-color: transparent;
}

/* scroll bars */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255 255 255 10%);
}

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Mambo Tab frame styles */
mambo-tab-img {
  position: absolute;
  width: 99%;
  height: 99%;
  overflow: hidden;
  top: 0.5%;
  left: 0.5%;
  z-index: -100;
  pointer-events: none;
}

mambo-tab-img img {
  position: absolute;
  top: 0;
  height: 100%;
}

mambo-tab-img .left,
mambo-tab-img .right {
  width: auto;
}

mambo-tab-img .left {
  left: 0;
}

mambo-tab-img .right {
  right: 0;
}

mambo-tab-img .middle {
  width: 100%;
}
