tools-storyboard {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1rem 4.5rem 3rem 1rem;
}

card-header {
  display: flex;
  width: 100%;
  min-height: 3rem;
  max-height: 3rem;
  padding: 0.5rem;
  gap: 0.25rem;
  margin-bottom: 1rem;
}

card-body {
  display: flex;
  width: 100%;
  height: 100%;
}

storyboard-treeview {
  display: block;
  min-width: 12rem;
  border-right: 1px solid #ccc;
  margin-bottom: 3rem;
  padding-right: 0.5rem;
}

storyboard-component {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 1fr;
  padding: 1rem;
  width: 100%;
  overflow: auto;
}

storyboard-component h4 {
  margin: 1em 0;
}

story-tab {
  display: block;
  width: 100%;
  height: 100%;
}

.m-tab-content {
  width: 100%;
}

.mambo-btn {
  color: var(--font-color);
  border: solid 1px black;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  transition: 0.1s;
  background: transparent;
  margin: 0 0.25rem;
  height: fit-content;
}

.mambo-btn:hover {
  background-color: var(--mambo-blue);
  border-color: var(--mambo-blue);
}

.documentation-container {
  overflow: auto;
  width: 100%;
  height: 100%;
}

.code-container {
  overflow: auto;
  width: 100%;
  height: 100%;
}

tab-code pre {
  word-break: break-all;
  white-space: pre-wrap;
}

tab-demo {
  width: 100%;
}

tab-demo pre {
  width:inherit;
  min-height:5em;
  border:solid;
  margin:.5em 0 1em;
  padding:1em;
  word-break: break-all;
  white-space: pre-wrap;
}

/* API Manager */
story-apimanager tab-demo mambo-radio-group {
  display: flex;
  margin: .5em 0;
}
story-apimanager tab-demo mambo-checkbox {
  display: flex;
  margin: .5em 0;
}
story-apimanager tab-demo pre {
  display: inline-block;
}

/* Mambo Tab frame styles */
mambo-tab-img {
  position: absolute;
  width: 99%;
  height: 99%;
  overflow: hidden;
  top: 0.5%;
  left: 0.5%;
  z-index: -100;
  pointer-events: none;
}

mambo-tab-img img {
  position: absolute;
  top: 0;
  height: 100%;
}

mambo-tab-img .left,
mambo-tab-img .right {
  width: auto;
}

mambo-tab-img .left {
  left: 0;
}

mambo-tab-img .right {
  right: 0;
}

mambo-tab-img .middle {
  width: 100%;
}

pre.prettyprint {
  border: none !important;
  padding: 0 !important;
  background: transparent !important;
}

m-tab-self {
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 0.375rem;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 0.375rem;
  border: 2px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
