{
	"extends": [
		"stylelint-config-standard",
		"stylelint-config-prettier"
	],
	"plugins": [
		"stylelint-order",
		"stylelint-prettier"
	],
	"rules": {
		"order/order": [
			"custom-properties",
			"declarations"
		],
		"order/properties-order": [
			"width",
			"height"
		]
	}
}