* {
    --ui-background-color: black;
    --ui-border: none;
    --ui-border-radius: 0;
    --ui-color: white;
    --ui-font-size: 1.2rem;
    --ui-padding: 0.5rem 1rem;

    /* hover */
    --ui-hover-background-color: #444;
    --ui-hover-color: white;

    /* selected */
    --ui-selected-background-color: #444;
    --ui-selected-color: white;
}