html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: grid;
}

* {
  font-family: "Ubuntu Light", sans-serif;
  box-sizing: border-box;
}

body {
  --mambo-dark: #130b1d;
  --mambo-black: #160c21;
  --mambo-blue: #3ba9d7;
  --mambo-yellow: #f3df45;
  --font-size: 1rem;
  --font-color: black;

  background-color: white;
  font-size: var(--font-size);
  color: var(--font-color);
}
