body {
    --background-color: #120b1b;
    --font-size: 14px;
    background-color: var(--background-color);
    margin: auto;
    font-size: var(--font-size);
}
.web-content {
    height: 100vh;
    display: grid;
    align-items: center;
}
.mambo-docs-container {
    /* --background-color: #120b1b; */
    --section-color: #296484;
    /* --font-size: 14px; */
    /* background-color: var(--background-color); */
    position: relative;
    aspect-ratio: 4/3;
    border: solid 6px var(--section-color);
    min-width: 817px;
    max-height: 700px;
    margin-left: 50%;
    transform: translate(-50%);
    width: 80%;
  }
.angle {
    border-top: 20px solid var(--background-color);
    border-right: 20px solid transparent;
    filter: drop-shadow(4px 6px 0px var(--section-color));
}
.angle-top-left {
    position: absolute;
    left: -7px;
    top: -6px;
}
.angle-top-right {
    position: absolute;
    right: -7px;
    top: -6px;
    transform: rotate(90deg);
}
.angle-bottom-left {
    position: absolute;
    left: -7px;
    bottom: -6px;
    transform: rotate(-90deg);
}
.angle-bottom-right {
    position: absolute;
    right: -7px;
    bottom: -6px;
    transform: rotate(180deg);
}
.bottom-tab {
    position: absolute;
    left: 50px;
    bottom: -20px;
    border-top: 20px solid var(--background-color);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    width: 250px;
    filter: drop-shadow(3px 6px var(--section-color)) drop-shadow(-6px 0px var(--section-color));
}
.right-tab {
    position: absolute;
    right: -104px;
    top: 137px;
    border-top: 20px solid var(--background-color);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    width: 150px;
    filter: drop-shadow(3px 6px var(--section-color)) drop-shadow(-6px 0px var(--section-color));
    transform: rotate(-90deg);
}
.close {
    position: absolute;
    right: -40px;
    top: 13px;
    width: 30px;
    height: 30px;
    border: solid 6px var(--section-color);
    border-left: none;
    border-bottom: none;
    border-top-right-radius: 5px;
}
.close::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 26px;
    border: solid 6px var(--section-color);
    border-top: none;
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg);
    bottom: -12px;
    right: -1px;
}
.close::after {
    content: '\00D7';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--section-color);
    border-radius: 4px;
    left: 6px;
    top: 5px;
    text-align: center;
    line-height: 16px;
    font-size: 32px;
    color: var(--background-color);
}

.mambo-docs-content {
    display: grid;
    grid-template-rows: 15% 85%;
    height: 100%;
}
  
#docs {
    display: grid;
    height: 100%;
    grid-template-columns: 30% auto;
    column-gap: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    overflow: hidden;
    margin: 0 3%;
}
#sidebar {
    display: grid;
    padding: 10px;
    border: solid #979797 1px;
    border-radius: 15px;
    height: 90%;
    overflow: hidden;
}
#sidebar ul {
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}
#sidebar li {
    list-style: none;
    padding: 5px;
    cursor: pointer;
    transition: .5s;
}
#sidebar li:hover {
    color: var(--section-color);
    background-color: white;
    padding-left: 15px;
}

#main {
    padding: 10px;
    border: solid #979797 1px;
    border-radius: 15px;
    width: 96%;
    height: 90%;
    overflow: auto;
}
#area {
    width: 100%;
}
#area > * {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}
#area-desc {
    column-count: 2;
} 
#area-code pre {
    background: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-family: monospace;
    font-size: .9em;
    white-space: pre-wrap;
}

.mambo-btn {
    appearance: none;
    color: white;
    border: solid 1px white;
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
    transition: .5s;
    margin: 5px 0;
}
.mambo-btn:hover {
    background-color: var(--section-color);
    border-color: var(--section-color);
    font-stretch:expanded;
}
.transparent {
    background-color: transparent;
}

/* scroll bars */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, .1); 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}